@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-950: #162B54;
  --color-primary-900: #1D408A;
  --color-primary-800: #1E4BAF;
  --color-primary-700: #1D58D8;
  --color-primary-600: #2463EB;
  --color-primary-500: #3D78F9;
  --color-primary-400: #6190FA;
  --color-primary-300: #94B4FD;
  --color-primary-200: #BFD3FE;
  --color-primary-100: #DBE6FE;
  --color-primary-50: #EFF4FF;

  --color-neutral-950: #0A0A0B;
  --color-neutral-900: #1C1C1E;
  --color-neutral-800: #2C2C2E;
  --color-neutral-700: #3B3B3C;
  --color-neutral-600: #4A4A4A;
  --color-neutral-500: #666666;
  --color-neutral-400: #939393;
  --color-neutral-300: #CCCCCC;
  --color-neutral-200: #D6D6D6;
  --color-neutral-100: #EAEAEA;
  --color-neutral-50: #F7F7F7;
  --color-neutral-0: #FAFAFA;

  --color-error-950: #25070A;
  --color-error-900: #2D0511;
  --color-error-800: #6A1323;
  --color-error-700: #BA2641;
  --color-error-600: #E12D48;
  --color-error-500: #F03F51;
  --color-error-400: #F66B77;
  --color-error-300: #F89FA3;
  --color-error-200: #FBC7CC;
  --color-error-100: #FCE6E8;
  --color-error-50: #FFF4F5;

  --color-success-600: #1EAF62;
  --color-success-500: #21C16B;

  --font-sans: 'Instrument Sans', system-ui, sans-serif;
}

:root {
  --surface-default: #F7F7F7;
  --surface-primary: #FAFAFA;
  --surface-tertiary: #F7F7F7;
  --surface-alt-tertiary: #EAEAEA;
  --surface-disabled: #EAEAEA;
  --surface-highlight: #EFF4FF;
  --surface-modal: #FAFAFA;

  --text-primary: #0A0A0B;
  --text-secondary: #3B3B3C;
  --text-tertiary: #666666;
  --text-alt-tertiary: #939393;
  --text-disabled: #D6D6D6;

  --stroke-primary: #D6D6D6;
  --stroke-secondary: #D6D6D6;
}

.dark {
  --surface-default: #101010;
  --surface-primary: #151515;
  --surface-tertiary: #1C1C1C;
  --surface-alt-tertiary: #2A2A2A;
  --surface-disabled: #2A2A2A;
  --surface-highlight: #162B54;
  --surface-modal: #0A0A0B;

  --text-primary: #FAFAFA;
  --text-secondary: #BEBEBE;
  --text-tertiary: #A8A8A8;
  --text-alt-tertiary: #757575;
  --text-disabled: #3F3F3F;

  --stroke-primary: #2A2A2A;
  --stroke-secondary: #5B5B5B;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary);
  background: var(--surface-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
